@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf

@functions {
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

@{
    ViewData["Title"] = "Add Existing Product";
}

<div class="addOrSubtract-container">
    <div class="addOrSubtract-productInfo-image-container">
        <img class="addOrSubtract-productInfo-image" src="" />

        <div class="savedInDbModal-container">
            <div class="savedInDbModal-logo-container">
                <span class="material-icons savedInDbModal-logo"></span>
            </div>
            <p class="savedInDbModal-text"></p>
        </div>
    </div>
    
    <div class="addOrSubtract-productInfo">
        <p class="addOrSubtract-productInfo-name"></p>
    </div>
    <div class="addOrSubtract-control-container">
        <div class="addOrSubtract-search-container">
            <input type="text" class="addOrSubtract-search form-control background-dark" placeholder="0000" />
        </div>
        <div class="addOrSubtract-btn-container addOrSubtract-btn-container-left invisibleWhileLoading">
            <button class="addOrSubtract-btn addOrSubtract-subtract-btn" style="background-color: #e62235 !important;">-</button>
        </div>
        <div class="addOrSubtract-input-contianer invisibleWhileLoading">
            <input class="addOrSubtract-input form-control background-dark" type="number" value="0" />
        </div>
        <div class="addOrSubtract-btn-container addOrSubtract-btn-container-right invisibleWhileLoading">
            <button class="addOrSubtract-btn addOrSubtract-add-btn" style="background-color: #1a9c23 !important;">+</button>
        </div>
        <div class="clearBoth"></div>
        <div class="addOrSubtract-save-btn-container invisibleWhileLoading">
            <a class="addOrSubtract-btn-save-search addOrSubtract-btn addOrSubtract-search-btn">Search</a>
        </div>
        <div class="loader"></div>
    </div>
</div>

<p style="text-align: center;">Husk at fixe så stregkoden ikke bliver sat ind quantity input feltet hvis det er i focus</p>

@*
<p style="text-align: center;">Gør så man kan lave en manual søgning</p>
<p style="text-align: center;">Tjek om det som står i quantity input kun er tal</p>
<p style="text-align: center;">Når den loader og man scanner et product kommer den og siger fejl meddelse med at produktet ikke findes</p>
<p style="text-align: center;">Hvis man ændre en scanned stregkode og man trykker save gemmer den til den gamle stregkode</p>
<p style="text-align: center;">Man kan sætte produkter ind hvis man skriver 0 foran og så et tal</p>
<p style="text-align: center;">Når man scanner et product som ikke er i databasen skal den komme med en fejl meddelse</p>
<h2 style="text-align: center;">Når man scanner efter at have tilføjet noget i inputfeltet så sætter den focus på knappet og tilføjer for hvergang man scanner</h2>
*@

@section Scripts {
@*    <script src="~/js/AddOrSubtract.js"></script>*@

<script>
// Barcode scanner variables
let barcode = '';
let lastScannedBarcode = '';
var currentBarcode = '';
var productExist = false;
let interval;

// Add Or Subtract control variables
const addBtn = $(".addOrSubtract-add-btn");
const subtractBtn = $(".addOrSubtract-subtract-btn");
const quantityInputField = $(".addOrSubtract-input");
let inputValue = 0;

const barcodeInputField = $(".addOrSubtract-search");
const saveOrSearchProductBtn = $(".addOrSubtract-btn-save-search");

const functionControls = $(".invisibleWhileLoading");
const loader = $(".loader");

const productInfoImageContainer = $(".addOrSubtract-productInfo-image-container");
const productInfoImage = $(".addOrSubtract-productInfo-image");
const productInfoName = $(".addOrSubtract-productInfo-name");

// Save product modal variables
const savedProductModalContainer = $(".savedInDbModal-container");
const savedProductModalIcon = $(".savedInDbModal-logo");
const savedProductModalText = $(".savedInDbModal-text");

let red = "#e62235";
let yellow = "#ffc107";
let green = "#28a745";

let quantityInput = "";
let barcodeInput = "";
let loadingIsRunning = false;
let ajaxResult = false;

let saveClass = "addOrSubtract-save-btn";
let searchClass = "addOrSubtract-search-btn";


$(document).ready(function () {
    DefaultPlaceholderInfo();
});

function DefaultPlaceholderInfo() {
    ImageStyling(true);
    productInfoImage.css("display", "block");
    productInfoImage.attr("src", "/Images/Logoer/4329934.png");
    productInfoName.text("Scan the product");
}

function ImageStyling(boolean) {
    if (boolean == true) {
        productInfoImageContainer.css("background-color", "rgb(25, 26, 28)");
        productInfoImage.css("width", "55%");
    }
    else {
        productInfoImageContainer.css("background-color", "white");
        productInfoImage.css("width", "100%");
    }
}

// Manual Search

barcodeInputField.on("input", function () {
    if (!loader.is(":visible")) {

        if (saveOrSearchProductBtn.hasClass(saveClass)) {
            saveOrSearchProductBtn.addClass(searchClass);
            saveOrSearchProductBtn.removeClass(saveClass);
            saveOrSearchProductBtn.text("Search");
        }

        productExist = false;
        DefaultPlaceholderInfo();
        SaveModalFunction("none", "", "", "", false);
        currentBarcode = "";
        quantityInputField.val("0")
    }
})

// Btn click events an functions

addBtn.click(function () {
    InputFunction("+")
});

subtractBtn.click(function () {
    InputFunction("-");
});

function InputFunction(addOrSubtract) {

    if (quantityInputField.val() < 0) {
        quantityInputField.val(0);
    }

    if(productExist == false) {
        return;
    }

    SaveModalFunction("none","","","", false);

    inputValue = quantityInputField.val();

    if (addOrSubtract == "+") {
        quantityInputField.val(inputValue++ + 1);
    }

    if (addOrSubtract == "-") {
        if (inputValue != 0) {
            quantityInputField.val(inputValue-- - 1);
        }
    }
}

// Save btn
// Sends a post request to the backend
saveOrSearchProductBtn.click(function () {

    if (barcodeInputField.val().trim().length == 0) {
        DefaultPlaceholderInfo();
        return;
    }

    if (saveOrSearchProductBtn.hasClass(saveClass)) {
        
        quantityInput = quantityInputField.val().trim();

        if (productExist == false) {
            productInfoImage.css("display", "none");
            ImageStyling(true);
            SaveModalFunction("block", "error_outline", red, "No product with the scanned barcode was found", false);
            return;
        }

        if (quantityInput.match(/^[0-9]+$/) == false && quantityInput != "0" || quantityInput == "") {
            ImageStyling(false);
            SaveModalFunction("block", "error_outline", red, "The quantity input field can only contain numbers", true);
            return;
        }

        if (quantityInput == '0' || quantityInput.startsWith("0")) {
            ImageStyling(false);
            SaveModalFunction("block", "error_outline", red, "You need to add more than 0 products", true);
            return;
        }
   
        ajaxPost();
    }
    else {
        handleBarcode(barcodeInputField.val().trim());
    }
});

// Scanner event and functions
document.addEventListener("keydown", function (evt) {
    if (interval) {
        clearInterval(interval);
    }
    // if input is enter
    if (evt.code.includes("Enter")) {
        if (barcode) {
            if (loadingIsRunning == false)  {
                handleBarcode(barcode);
            }
            barcode = '';

            addBtn.blur();
            subtractBtn.blur();

            return;
        }
    }
    if (!evt.code.includes("Shift") && !evt.code.includes("CapsLock")) {
        barcode += evt.key;
    }
    interval = setInterval(() => barcode = '', 20);
});

function handleBarcode(scanned_barcode) {
    scanned_barcode = scanned_barcode.trim();

    if (scanned_barcode.length >= 1) {
        if (scanned_barcode != currentBarcode) {
            //ajaxResult = false;
            loadingTimeout();

            currentBarcode = scanned_barcode;
            lastScannedBarcode = scanned_barcode;
            barcodeInputField.val(scanned_barcode);
            ajaxGet(scanned_barcode);
        }
        else {
            if (productExist) {
                InputFunction("+")
            }
            else {
                // Quick fix.
                if (ajaxResult == true) {
                ImageStyling(true);
                productInfoImage.css("display", "none");
                SaveModalFunction("block", "error_outline", red, "No product with the scanned barcode was found", false);
                }
            }
        }
    }
}

// Timeout/delay functions
function loadingTimeout() {
    setTimeout(function () {
        if (ajaxResult == false) {
            loadingIsRunning = true;
            functionControls.css("display", "none");
            productInfoImage.css("display", "none");
            productInfoName.text("Searching for product");
            loader.css("display", "block");
        }
    }, 20);
}

// Output data to html functions
function AppendData(productData) {
    if (productData.image != null) {
        ImageStyling(false);
        productInfoImage.attr("src", "/Images/Products/" + productData.image);
    }
    else {
        ImageStyling(false);
        productInfoImage.attr("src", "/Images/Placeholders/Placeholder.jpg");
    }
    productInfoName.text(productData.name);
}

// Gets the scanned product
function ajaxGet(scanned_barcode) {
    $.ajax({
        type: "GET",
        url: "/Scanner/GetProduct",
        data: { barcodeID: scanned_barcode },
        dataType: "json",
        success: function (productData) {
            loadingIsRunning = false
            ajaxResult = true;
            loader.css("display", "none");
            SaveModalFunction("none", "", "", "", false);
            functionControls.css("display", "block");

            if (productData.boolean == true) {
                productExist = true;

                productInfoImage.css("display", "block");
                barcodeInputField.val(scanned_barcode);
                quantityInputField.val("1");
                
                AppendData(productData);

                saveOrSearchProductBtn.addClass(saveClass);
                saveOrSearchProductBtn.removeClass(searchClass);
                saveOrSearchProductBtn.text("Save");
            }
            else {
                productExist = false;
                ImageStyling(true);

                productInfoImage.css("display", "none");
                quantityInputField.val("0");

                productInfoImage.attr("src", "");
                productInfoName.text("Scan the product");

                SaveModalFunction("block", "error_outline", red, "No product with the scanned barcode was found", false);
            }
        },
        error: function (req, status, error) {
            console.log(status);
            ImageStyling(true);
            SaveModalFunction("block", "warning_amber", yellow, "CONTACT SUPPORT", false);
        }
    });
}

// Post the scanned product and updates the producs quantity
function ajaxPost() {
    $.ajax({
        type: "POST",
        url: "/Scanner/AddMoreStock",
        headers: { "RequestVerificationToken": "@GetAntiXsrfRequestToken()" },
        data: { quantity: quantityInputField.val(), barcodeID: currentBarcode },
        success: function (result) {
            quantityInputField.val('0');
            if (result.boolean == true) {

                SaveModalFunction("block", "check_circle_outline", green, result.msg, true);
            }
            else {
                if (result.exception == true) {
                    SaveModalFunction("block", "warning_amber", yellow, result.msg, true);
                }
                else {
                    SaveModalFunction("block", "error_outline", red, result.msg, true);
                }
            }
        },
        error: function (req, status, error) {
            console.log(status);
            ImageStyling(true);
            SaveModalFunction("block", "warning_amber", yellow, "CONTACT SUPPORT", false);
        }
    });
}

// if true:  Icon: check_circle_outline   Text: The products has been added!                                  Color: Green
// if false: Icon: error_outline          Text: No product with the scanned barcode was found                 Color: Red
// if error: Icon: warning_amber          Text: An database error has occurred, try again or contact support  Color: Yellow

function SaveModalFunction(displayStyle, icon, iconColor, message, backgroundcolor) {
    savedProductModalContainer.css("display", displayStyle);
    savedProductModalIcon.css("color", iconColor);
    savedProductModalIcon.text(icon);
    savedProductModalText.text(message);
    if(backgroundcolor == true) {
        savedProductModalContainer.css("background-color", "rgba(0,0,0, 0.91)");
    }
    else {
        savedProductModalContainer.css("background-color", "rgba(0,0,0, 0.0)");
    }
}
</script>
}