@model LagerPlayground.Models.Product

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="ProductID" class="control-label"></label>
                <input asp-for="ProductID" readonly class="productIDInputClass form-control background-dark" />
                <span asp-validation-for="ProductID" class="text-danger"></span>
                <br />
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control background-dark" />
                <span asp-validation-for="Name" class="text-danger"></span>
                <br />
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control background-dark"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
                <br />
            </div>
            <div class="form-group">
                <label asp-for="BrandName" class="control-label"></label>
                <input asp-for="BrandName" class="form-control background-dark" />
                <span asp-validation-for="BrandName" class="text-danger"></span>
                <br />
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <input asp-for="Category" class="form-control background-dark" />
                <span asp-validation-for="Category" class="text-danger"></span>
                <br />
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" type="number" class="form-control background-dark" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
                <br />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn-primary" />
            </div>
        </form>
    </div>
</div>

<br />

<div>
    <a asp-action="Index">Back to list</a>
</div>

@*-Overlay-*@
<div class="create-overlay-container" style="display: none;">
    <div class="create-overlay-modal-container">
        <div class="create-overlay-icon-container">
            <span class="material-icons create-overlay-modal-close-btn">close</span>
        </div>
        <img src="~/Images/Logoer/4329934.png" class="create-overlay-modal-image" />
        <p>Scan the products barcode</p>
        <input placeholder="0000" class="form-control create-overlay-modal-input background-dark" />
        
        <button class="create-overlay-modal-enter-btn btn-primary">Submit</button>
        
        <div class="loader"></div>
        <span class="create-overlay-modal-error-text"></span>
        <span class="create-overlay-modal-error-icon material-icons"></span>
    </div>
</div>

@section Scripts {
    <script src="~/js/BarcodeEdit.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}