@{
    ViewData["Title"] = "Packing";
}

<div class="packing-headline-container">
    <p class="trim packing-headline-text">Order #01 . Tote-1</p>
    <p class="trim packing-headline-pending">Pending</p>
    <p class="trim packing-headline-snapshot">0/1 Snapshot</p>
</div>

<div class="packing-ovarall-container">
    <div class="packing-left-container">
        <div class="packing-left-headline-container">
            <p class="trim picking-left-headline-itemsQuantity"><span>1</span> Items</p>
            <p class="trim picking-left-headline-printLabels">Print labels</p>
        </div>

        <div class="picking-left-table-container">
            <table class="picking-left-table">
                <thead>
                    <tr>
                        <th class="picking-left-table-thead-item">Item</th>
                        <th></th>
                        <th>Quantity</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    <tr class="picking-left-table-tbody-tr">
                        <td class="picking-left-table-image-td"><img class="picking-left-table-image" src="~/Images/Placeholders/Placeholder.jpg" /></td>
                        <td class="picking-left-table-info-td">
                            <p class="trim picking-left-table-info-td-name">Wireless Barcode Scanner</p>
                            <p class="trim picking-left-table-info-td-sku">SKU <span>832473294732</span></p>
                        </td>
                        <td class="picking-left-table-quantity-td">1</td>
                        <td class="picking-left-table-options-td">
                            <span class="material-icons picking-left-table-options-icon">more_horiz</span>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
    <div class="packing-right-container">
        <div class="packing-right-headline-container">
            <p class="trim picking-right-headline-text">Shipping details</p>
            <span class="material-icons picking-right-headline-icon">more_horiz</span>
        </div>

        <div class="packing-right-shippingInfo-container">
            <div class="packing-right-shippingInfo-address-container">
                <p class="trim">Ship to <span class="material-icons packing-right-shippingInfo-address-shipTo-icon">edit</span></p>
                <p class="trim packing-right-shippingInfo-address-name">Hans Erik</p>
                <p>Test vej 1, <br />Grenaa 8500, Denmark</p>
            </div>
            <div class="packing-right-shippingInfo-shipMethod-container">
                <p class="trim">Shipping method</p>
                <p class="trim packing-right-shippingInfo-shipMethod-text">Postnord <span class="material-icons packing-right-shippingInfo-address-shipMethod-icon">edit</span></p>
                <button class="packing-right-shippingInfo-btn">Calculate shipping rates</button>
            </div>
        </div>

        <div class="packing-right-packageInfo-overall-container">
            <div class="packing-right-packageInfo-headline-container">
                <div class="packing-right-packageInfo-headline-text-container">
                    <p class="trim packing-right-packageInfo-headline-text">Package #1</p>
                    <span class="trim packing-right-packageInfo-headline-productNumbers-span">1</span>
                </div>
                <div class="packing-right-packageInfo-headline-icon-container">
                    <span class="material-icons packing-right-packageInfo-headline-icon">add</span>
                </div>
            </div>

            <div class="packing-right-packageInfo-container">
                <div class="packing-right-packageInfo-left-container">
                    <ul class="packing-right-packageInfo-left-ul">
                        <li>Shipping box</li>
                        <li>Length <span class="packing-right-packageInfo-left-ul-length-span">1.00</span></li>
                        <li>Width <span class="packing-right-packageInfo-left-ul-width-span">1.00</span></li>
                        <li>Height <span class="packing-right-packageInfo-left-ul-height-span">1.00</span></li>
                    </ul>

                    <select class="packing-right-packageInfo-left-select">
                        <option>Custom</option>
                        <option>Box #1</option>
                        <option>Box #2</option>
                    </select>
                </div>
                <div class="packing-right-packageInfo-right-container">
                    <p class="trim packing-right-packageInfo-right-weight-text">Weight</p>
                    <div class="packing-right-packageInfo-right-weight-text-number-container">
                        <p class="trim packing-right-packageInfo-right-weight-text-number">0.50</p>
                        <p class="trim packing-right-packageInfo-right-weight-text-kg">Kg</p>
                    </div>
                </div>
            </div>

            <div class="packing-right-table-container">
                <table class="picking-right-table">
                    <tbody>

                        <tr class="picking-right-table-tbody-tr">
                            <td class="picking-right-table-image-td"><img class="picking-right-table-image" src="~/Images/Placeholders/Placeholder.jpg" /></td>
                            <td class="picking-right-table-info-td">
                                <p class="trim picking-right-table-info-td-name">Wireless Barcode Scanner</p>
                                <p class="trim picking-right-table-info-td-sku">SKU <span>832473294732</span></p>
                            </td>
                            <td class="picking-right-table-quantity-td">1</td>
                            <td class="picking-right-table-options-td">
                                <span class="material-icons picking-right-table-options-icon">more_horiz</span>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>    
    </div>
</div>