@{
    ViewData["Title"] = "Packing";
}

<div class="packing-headline-container">
    <p class="trim packing-headline-text">Order #01 . Tote-1</p>
    <p class="trim packing-headline-pending">Pending</p>
    <p class="trim packing-headline-snapshot">0/1 Snapshot</p>
</div>

<div class="packing-ovarall-container">
    <div class="packing-left-container">
        <div class="packing-left-headline-container">
            <p class="trim picking-left-headline-itemsQuantity"><span>1</span> Items</p>
            <p class="trim picking-left-headline-printLabels">Print labels</p>
        </div>

        <table class="picking-left-table">
            <thead>
                <tr>
                    <th class="picking-left-table-thead-item">Item</th>
                    <th></th>
                    <th>Quantity</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr class="picking-left-table-tbody-tr">
                    <td class="picking-left-table-image-td"><img class="picking-left-table-image" src="~/Images/Placeholders/Placeholder.jpg" /></td>
                    <td class="picking-left-table-info-td">
                        <p class="trim">Wireless Barcode Scanner</p>
                        <p class="trim">SKU <span>832473294732</span></p>
                    </td>
                    <td class="picking-left-table-quantity-td">1</td>
                    <td class="picking-left-table-image-options-td">...</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="packing-right-container">
        T
    </div>
</div>