@model LagerPlayground.Models.Locations_Racks

@{
    ViewData["Title"] = "Create Rack";
}

<h1>Create Location</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateRack">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Rack</label>
                <input asp-for="RackNumber" readonly class="form-control background-dark" value="@ViewBag.RackNumber" />
                <br />
            </div>
@*            <div class="form-group">
                <label asp-for="Shelfs" class="control-label"></label>
                <input asp-for="Shelfs" class="form-control background-dark" />
                <span asp-validation-for="Shelfs" class="text-danger"></span>
                <br />
            </div>*@
@*            <div class="form-group">
                <label asp-for="Bins" class="control-label"></label>
                <input asp-for="Bins" class="form-control background-dark" />
                <span asp-validation-for="Bins" class="text-danger"></span>
                <br />
            </div>*@
            <input hidden readonly asp-for="LocationsID" value="@ViewBag.LocationID" />
            <div class="form-group">
                <input type="submit" value="Create" class="btn-primary" />
            </div>
        </form>
    </div>
</div>

<br />

<div>
    <a asp-action="Locations">Back to list</a>
</div>