@model LagerPlayground.Models.Locations

@{
    ViewData["Title"] = "Create Test Rack";
}

<h2>Create Test Rack</h2>
<br />

<p>Warehouse: @Model.Warehouse</p>
<p>Section: @Model.Section</p>
<p>Row: @Model.Row</p>
<br />

@*<div class="createRack-overall-container">
    <div class="createRack-info-container">

    </div>
    <div class="CreateRack-container">

    </div>
</div>*@