
@{
    ViewData["Title"] = "Create Test Rack";
}


<h2>Create Test Rack</h2>

<div class="createRack-overall-container">
    <div class="createRack-info-container">

    </div>
    <div class="CreateRack-container">

    </div>
</div>