@model LagerPlayground.Models.Locations_Racks

@{
    ViewData["Title"] = "Rack Details";
}

<h2>Location Details</h2>

<p>Warehouse: @Model.Locations.Warehouse</p>
<p>Section: @Model.Locations.Section</p>
<p>Row: @Model.Locations.Row</p>
<p>Rack: @Model.RackNumber</p>
