.website-background-dark {
    background-color: rgb(20, 22, 23) !important;
}

.light-text, p, h1, h2, h3, h4, h5, li, th, td, dt, dd, label, input, textarea, .create-overlay-icon-container, button > span {
    color: rgb(215, 215, 215) !important;
}

.background-dark, textarea {
    background-color: rgb(25, 26, 28) !important;
}

.clearBoth {
    clear: both !important;
}

.optionMenu-Container {
    width: 750px;
    height: 400px;
/*    background-color: yellow;*/
    margin: 0 auto;
}

.optionMenu-Item-Container {
    width: 250px;
    height: 200px;
/*    background-color: #e9ecef;*/
    padding: 6px;
    float: left;
}

.optionMenu-Item {
    width: 100%;
    height: 100%;
    /*#181c1f #212529 #25292e*/
    background-color: #1d1f21;
}

    .optionMenu-Item > a {
        display: block;
        text-align: center;
        height: 100%;
        line-height: 188px;
        font-size: 21px;
        text-decoration: none;
        color: #f8f9fa;
        user-select: none;
/*        -moz-transition: all 0.23s;
        -o-transition: all 0.23s;
        -webkit-transition: all 0.23s;
        transition: all 0.23s;*/
    }

.optionMenu-Item > a:hover {
    background-color: #222426;
    color: #edeef0;
}

/*----Arrivals----*/

.arrivals-btns-holder-container {
    width: 500px;
    height: auto;
/*    background-color: red;*/
    margin: 0 auto;
}

.arrivals-btn-container {
    float: left;
    width: 50%;
    height: 70px;
/*    background-color: yellow;*/
    position: relative;
}

.arrivals-btn {
    background-color: blanchedalmond;
    text-align: center;
    width: 93%;
    display: block;
    margin: 0 auto;
    line-height: 70px;
    font-size: 20px;
    text-decoration: none;
    color: #f8f9fa;
    user-select: none;
}

.arrivals-btn-edit {
    background-color: #1962b5;
}

    .arrivals-btn-edit:hover {
        background-color: #165aa8;
    }

.arrivals-btn-create {
    /*#2bbf17*/
    background-color: #1a9c23;
}

    .arrivals-btn-create:hover {
        background-color: #199121;
    }

.arrivals-btn:hover {
    color: #f8f9fa;
}

/*---Create Overlay---*/

.create-overlay-container {
    position: absolute !important;
    width: 100%;
    height: 100%;
    z-index: 100;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(13, 13, 13, 0.85);
}

.create-overlay-modal-container {
    width: 550px;
    height: 585px;
    z-index: 999;
    background-color: rgba(20, 22, 23);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto auto;
}

.create-overlay-icon-container {
    width: 100%;
    height: auto;
    position: relative;
    text-align: right;
}

.create-overlay-modal-close-btn {
    font-size: 45px;
    padding: 5px;
    user-select: none;
}

.create-overlay-modal-close-btn:hover {
    cursor: pointer;
}

.create-overlay-modal-image {
    width: 40%;
    display: block;
    margin: 60px auto 0 auto;
    user-select: none;
}

.create-overlay-modal-container > p {
    text-align: center;
    font-size: 22px;
    margin-top: 40px;
    user-select: none;
}

.create-overlay-modal-input {
    width: 70%;
    margin: 10px auto 0 auto;
    border: none;
    text-align: center;
    font-size: 20px;
}

.create-overlay-modal-error-text, .create-overlay-modal-error-icon {
    display: block;
    margin-top: 6px;
    text-align: center;
    font-size: 22px;
    user-select: none;
}

.create-overlay-modal-error-icon {
    font-size: 48px;
    margin-top: 8px;
}

.create-overlay-modal-enter-btn {
    display: block;
    margin: 25px auto 0 auto;
    border: none;
    font-size: 20px;
    padding: 6px 35px;
    user-select: none;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    outline: none;
}

    .create-overlay-modal-enter-btn:focus, .create-overlay-modal-enter-btn:active, .addOrSubtract-input:focus, .addOrSubtract-input:active, .addOrSubtract-search:focus, .addOrSubtract-search:active {
        border: none !important;
        outline: none !important;
        -moz-box-shadow: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }

.productIDInputClass:hover {
    cursor: pointer;
}

.productIDInputClass:focus, .productIDInputClass:active {
    border: 1px solid #ced4da !important;
    outline: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

/*---Loader---*/

.loader {
    display: none;
    margin: 18px auto 0 auto;
    border: 9px solid #f3f3f3;
    border-radius: 50%;
    border-top: 9px solid #3498db;
    width: 70px;
    height: 70px;
    -webkit-animation: spin 1s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*---AddExistingProduct---*/

.addOrSubtract-container {
    width: 500px;
    height: auto;
    margin: 25px auto 0 auto;
/*    background-color: red;*/
}

.addOrSubtract-productInfo-image-container {
    display: block;
    width: 100%;
    height: 400px;
    background-color: rgb(25, 26, 28);
    position: relative;
}

.addOrSubtract-productInfo-image {
    display: block;
    width: 80%;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.addOrSubtract-productInfo {
    width: 100%;
    height: auto;
}

.addOrSubtract-productInfo-name {
    text-align: center;
/*    background-color: red;*/
    font-size: 24px;
    padding: 5px 0;
    margin: 0;
}

.addOrSubtract-control-container {
    width: 100%;
    height: auto;
    /*    background-color: burlywood;*/
}

.addOrSubtract-search-container {
    width: 100%;
    height: auto;
}

.addOrSubtract-search {
    width: 100%;
    font-size: 21px;
    border: none;
    border-radius: 0px;
    text-align: center;
}

.addOrSubtract-btn-container, .addOrSubtract-input-contianer {
    float: left;
    /*    width: 33.333%;*/
    height: auto;
    padding: 5px;
}

.addOrSubtract-input-contianer {
    width: 40% !important;
    padding-left: 0px !important;
    padding-right: 0px !important; 
}

.addOrSubtract-btn-container {
    width: 30% !important;
}

.addOrSubtract-btn-container-left {
    padding-left: 0px !important;
}

.addOrSubtract-btn-container-right {
    padding-right: 0px !important;
}

.addOrSubtract-save-btn-container {
    width: 100%;
    height: auto;
}

.addOrSubtract-btn, .addOrSubtract-input {
    width: 100%;
    height: 80px !important;
    line-height: 80px;
    border: none;
    border-radius: unset;
    padding: 0;
    color: #f8f9fa;
    font-family: Arial, Helvetica, sans-serif !important;
}

.addOrSubtract-input {
    font-size: 35px;
    height: auto;
    padding: 0 5px;
    text-align: center;
}

.addOrSubtract-save-btn {
    display: block;
    background-color: aliceblue !important;
    font-size: 27px !important;
    height: auto !important;
    padding: 8px 0;
    color: #f8f9fa;
    background-color: #1d1f21 !important;
    font-family: Arial, Helvetica, sans-serif !important;
    text-align: center;
    text-decoration: none;
    user-select: none;
}

.addOrSubtract-save-btn:hover {
    cursor: pointer;
    color: #f8f9fa;
    background-color: #222426 !important;
}

/* Chrome, Safari, Edge, Opera */
.addOrSubtract-input::-webkit-outer-spin-button,
.addOrSubtract-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.addOrSubtract-input[type=number] {
    -moz-appearance: textfield;
}

.addOrSubtract-btn {
    height: auto;
    font-size: 45px;
    background-color: deeppink;
    line-height: unset !important;
}

/*---Saved input db modal---*/
.savedInDbModal-container {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.91);
    position: absolute;
    top: 0;
}

.savedInDbModal-logo-container {
    width: 100%;
    height: auto;
/*    background-color: red;*/
}

.savedInDbModal-logo {
    display: block;
    text-align: center;
    font-size: 110px;
    color: #28a745;
    margin-top: 120px;
    user-select: none;
}

.savedInDbModal-text {
    display: block;
    text-align: center;
    font-size: 25px;
    margin-top: 8px;
    padding-left: 30px;
    padding-right: 30px;
    user-select: none;
}

/*---Start Scan Modal---*/
.startScanModal-contianer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: rgb(25, 26, 28);
}

.startScanModal-image {
    display: block;
    width: 60%;
    position: relative;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
}