<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LagerPlayground</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LagerPlayground.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Main.css" />
</head>
<body class="website-background-dark">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand light-text" asp-area="" asp-controller="Home" asp-action="Index">LagerPlayground</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link light-text" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link light-text dropbtn">Orders <span style="font-size: 11px;">▼</span></a>
                            <div class="dropdown-content">
                                <a asp-controller="Warehouse" asp-action="AllOrders">All Orders</a>
                                <a asp-controller="Shop" asp-action="Index">Create An Order</a>
                                <a asp-controller="Warehouse" asp-action="Totes">Totes</a>
                                <a asp-controller="Warehouse" asp-action="ReceivingBoxes">Receiving Boxes</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link light-text dropbtn">Receiving Orders <span style="font-size: 11px;">▼</span></a>
                            <div class="dropdown-content">
                                <a asp-controller="Warehouse" asp-action="AllReceiveOrders">All Receiving Orders</a>
                                <a asp-controller="Shop" asp-action="ReceiveShop">Create Receive Order</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link light-text dropbtn">Inventory <span style="font-size: 11px;">▼</span></a>
                            <div class="dropdown-content">
                                <a class="nav-link light-text" asp-controller="Product" asp-action="Index">All Products</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link light-text dropbtn">Other <span style="font-size: 11px;">▼</span></a>
                            <div class="dropdown-content">
                                <a class="nav-link light-text" asp-controller="Receive" asp-action="RejectReasons">All Reject Reasons</a>
                                <a class="nav-link light-text" asp-controller="Location" asp-action="Locations">Locations</a>
                                <a class="nav-link light-text" asp-controller="Location" asp-action="AllLocations">All Locations</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link light-text" asp-controller="Home" asp-action="ScannerFun">Scanner-Fun</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted">
        <div class="container">
            &copy; 2022 - LagerPlayground
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/JsBarcode/JsBarcode.all.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
