@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Menu</h1>
</div>

<div class="optionMenu-Container row">
    <div class="optionMenu-Item-Container">
        <div class="optionMenu-Item">
            <a asp-controller="Home" asp-action="Arrivals">Arrivals</a>
        </div>
    </div>
    <div class="optionMenu-Item-Container">
        <div class="optionMenu-Item">
            <a href="#">Pick Orders</a>
        </div>
    </div>
    <div class="optionMenu-Item-Container">
        <div class="optionMenu-Item">
            <a href="#">Stock Audit</a>
        </div>
    </div>
    <div class="optionMenu-Item-Container">
        <div class="optionMenu-Item">
            <a href="#">Move Stock</a>
        </div>
    </div>
    <div class="optionMenu-Item-Container">
        <div class="optionMenu-Item">
            <a href="#">Scan to Pallet</a>
        </div>
    </div>
    <div class="optionMenu-Item-Container">
        <div class="optionMenu-Item">
            <a href="#">Settings</a>
        </div>
    </div>
</div>