@*@using Microsoft.AspNetCore.Http;*@

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Menu</h1>
</div>

@*
Under Arrivals lav 2 kknapper en som hedder Add existing product og en der hedder Create new product.
Hvis man vælger add existing product så skal man scanne det produkt man vil tilføje flere af og scanne
antallet eller selv skrive det ind og derefter trykke add. Der skal være en form for validering af
sikkeerhed hvis nu man scanner en ny stregkode. Der skal laves en database til Arrivals også.

Create new product skal ikke være alm lager folk som kan det, men bliver det til at starte med for at
teste programmet.
*@

@*
https://docs.microsoft.com/en-us/aspnet/core/web-api/jsonpatch?view=aspnetcore-6.0
https://docs.microsoft.com/en-us/aspnet/core/web-api/advanced/formatting?view=aspnetcore-6.0
https://plbonneville.com/blog/sending-an-anti-forgery-token-with-asp.net-core-mvc-ajax-requests/
*@

<div class="optionMenu-Container">
    <div class="optionMenu-Item-Container">
        <div class="optionMenu-Item">
            <a asp-controller="Home" asp-action="Arrivals">Arrivals</a>
        </div>
    </div>
    <div class="optionMenu-Item-Container">
        <div class="optionMenu-Item">
            <a href="#">Pick Orders</a>
        </div>
    </div>
    <div class="optionMenu-Item-Container">
        <div class="optionMenu-Item">
            <a href="#">Stock Audit</a>
        </div>
    </div>
    <div class="optionMenu-Item-Container">
        <div class="optionMenu-Item">
            <a href="#">Move Stock</a>
        </div>
    </div>
    <div class="optionMenu-Item-Container">
        <div class="optionMenu-Item">
            <a href="#">Scan to Pallet</a>
        </div>
    </div>
    <div class="optionMenu-Item-Container">
        <div class="optionMenu-Item">
            <a href="#">Settings</a>
        </div>
    </div>
</div>

@*<p>Name: @Context.Session.GetString("_Name")</p> 
<p>Age: @Context.Session.GetInt32("_Age")</p>*@