
@{
    ViewData["Title"] = "Scanner Fun";
}

<div style="width: 60%; margin: 0 auto;">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Product-ID</th>
                <th>BrandName</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody id="Table">
        </tbody>
    </table>
</div>

@section Scripts {
    <script src="~/js/GetProductFunScan.js"></script>
}