@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf

@functions {
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

@model IEnumerable<Product_Locations>

@{
    ViewData["Title"] = "Transfer Product";
}

<div class="putaway-overall-container">
    <div class="putaway-overall-headline-container">
        <p class="trim putaway-overall-headline-text">Transfer Product</p>
    </div>

    @foreach (var item in Model)
    {
        <div class="putaway-product-template-container">
            <div class="putaway-product-info-template-container">
                <div class="putaway-product-image-float-container">
                    <img class="putaway-product-image" src="~/Images/@(item.Product.Image == null ? "Placeholders/Placeholder.jpg" : "Products/" + item.Product.Image)" />
                </div>
                <div class="putaway-product-info-float-container">
                    <div class="putaway-product-info-main-container">
                        <p class="trim putaway-product-info-main-name">@item.Product.Name</p>
                        <p class="trim putaway-product-info-main-barcode">SKU <span style="font-weight: bold;">@item.Product.BarcodeID</span></p>
                        <p class="trim putaway-product-info-main-custommer">Custommer <span style="font-weight: bold;">J-Import</span></p>
                    </div>
                    <div class="putaway-product-info-secondary-container">
                        <p class="trim putaway-product-info-secondary-onhand">@item.Quantity on hand</p>
                    </div>
                    <div class="clearBoth"></div>
                </div>
                <div class="clearBoth"></div>
            </div>
        </div>
    }

    @*    <div class="putaway-product-template-container">
        <div class="putaway-product-info-template-container">
        <div class="putaway-product-image-float-container">
        <img class="putaway-product-image" src="~/Images/Placeholders/Placeholder.jpg" />
        </div>
        <div class="putaway-product-info-float-container">
        <div class="putaway-product-info-main-container">
        <p class="trim putaway-product-info-main-name">WIRELESS BARCODE SCANNER</p>
        <p class="trim putaway-product-info-main-barcode">SKU <span style="font-weight: bold;">K50674</span></p>
        <p class="trim putaway-product-info-main-custommer">Custommer <span style="font-weight: bold;">J-Import</span></p>
        </div>
        <div class="putaway-product-info-secondary-container">
        <p class="trim putaway-product-info-secondary-onhand">100 on hand</p>
        </div>
        <div class="clearBoth"></div>
        </div>
        <div class="clearBoth"></div>
        </div>
        </div>*@

</div>

@section Scripts {
<script>

    // Barcode scanner variables
    let barcode = '';
    let lastScannedBarcode = '';
    var currentBarcode = '';
    let productExist = false;
    let interval;

    let productBarcode = '';
    let currentProductQuantity = 0;

    // Scanner event and functions
    document.addEventListener("keydown", function (evt) {
        if (interval) {
            clearInterval(interval);
        }

        if (evt.code.includes("Enter")) {
            if (barcode) {
                handleBarcode(barcode);
                barcode = '';
                return;
            }
        }
        if (!evt.code.includes("Shift") && !evt.code.includes("CapsLock")) {
            barcode += evt.key;
        }
        interval = setInterval(() => barcode = '', 20);
    });

    function handleBarcode(scanned_barcode) {
        scanned_barcode = scanned_barcode.trim();

        if (scanned_barcode.length >= 1) {
            currentBarcode = scanned_barcode;

            if (productBarcode == '' || productBarcode.length == 0) {
                GetNonLocationProduct(scanned_barcode);
            }
            else if(scanned_barcode == productBarcode) {
                currentProductQuantity++;
            }
            else {
                TransferProduct(scanned_barcode);
            }
        }
    }

    // Ajax Functions

    function GetNonLocationProduct(scanned_barcode) {
        $.ajax({
            type: "GET",
            url: "/Transfer/GetNonLocationProduct",
            data: { scannedBarcode: scanned_barcode },
            success: function (result) {

                if (result.booleanError == false) {
                    console.log("Success GetNonLocationProduct");
                    productBarcode = result.productBarcode;
                    currentProductQuantity = 1;
                }
                else {
                    console.log(result.msg);
                    alert(result.msg);
                }
            },
            error: function (req, status, error) {
                console.log(status);
                alert(status);
            }
        });
    }

    function TransferProduct(scanned_barcode) {
        $.ajax({
            type: "POST",
            url: "/Transfer/TransferProduct",
            headers: { "RequestVerificationToken": "@GetAntiXsrfRequestToken()" },
            data: { scannedBarcode: scanned_barcode, productBarcode: productBarcode, quantity: currentProductQuantity },
            success: function (result) {

                if (result.booleanError == false) {
                    console.log("Success TransferProduct");
                    productBarcode = '';
                    currentProductQuantity = 0;
                }
                else {
                    if (result.locationNotFound == false) {
                        currentBarcode = '';
                        currentProductQuantity = 0;
                    }
                    console.log(result.msg);
                    alert(result.msg);
                }
            },
            error: function (req, status, error) {
                console.log(status);
                alert(status);
            }
        });
    }
</script>
}