@model LagerPlayground.Models.ReceiveRejectedReasons

@{
    ViewData["Title"] = "Create a new Reject Reason";
}

<h1>Create Product</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateRejectReason">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Reason" class="control-label"></label>
                <input asp-for="Reason" type="text" class="form-control background-dark" />
                <span asp-validation-for="Reason" class="text-danger"></span>
                <br />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn-primary" />
            </div>
        </form>
    </div>
</div>

<br />

<div>
    <a asp-action="RejectReasons">Back to list</a>
</div>