@model LagerPlayground.Models.ReceivingOrder_Details

@{
    ViewData["Title"] = "Receive";
}

<h2>Receive</h2>

@foreach (var item in Model.ReceivingOrder_Items)
{
    <p>Name: @item.Product.Name</p>
    <p>Rejected: @item.Rejected</p>
    <p>Accepted: @item.Accepted</p>
    <p>Unreceived: @item.Quantity</p>
    <br />
}