@{
    ViewData["Title"] = "Picking Index";
}

<div class="pick-index-overall-container">
    <div class="pick-index-header-container">
        <h3 class="trim pick-index-header-headline">Welcome Jakob Johansen!</h3>
        <p class="trim pick-index-header-info">These are your orders for <span style="color:lightblue;">Today</span> status <br />in <span style="color:lightblue;">Primary</span> warehouse </p>
    </div>

    <div class="pick-index-orderinfo-overall-container">
         <div class="pick-index-orderinfo-container" style="border-right: 1px solid lightgray;">
            <p class="trim pick-index-orderinfo-headline">Orders</p>
         </div>
         <div class="pick-index-orderinfo-container">
            <p class="trim pick-index-orderinfo-headline">Items</p>
         </div>
        <div class="clearBoth"></div>
    </div>
</div>