
@{
    ViewData["Title"] = "Multi Pick";
}

<div class="pickSite-overall-container">
    <div class="pickSite-pickBatchAmount-overall-container">
        <div class="pickSite-header-headline-container">
            <p class="trim pickSite-header-headline">Multi item batch picking</p>
        </div>

        <div class="pickSite-pickBatchAmount-info-overall-container">
            <div class="pickSite-pickBatchAmount-info-logo-container">
                <span class="material-icons pickSite-pickBatchAmount-info-logo">shopping_basket</span>
            </div>

            <div class="pickSite-pickBatchAmount-info-headlines-container">
                <p class="trim pickSite-pickBatchAmount-info-headline">MULTI ITEM BATCH PICKING</p>
                <p class="trim pickSite-pickBatchAmount-info-underHeadline">How many totes<br />are you using?</p>
            </div>

            <div class="pickSite-pickBatchAmount-info-inputAndBtns-container">
                <button class="pickSite-pickBatchAmount-info-inputAndBtns-btn pickSite-pickBatchAmount-info-inputAndBtns-btn-sub">-</button>
                <input type="number" class="pickSite-pickBatchAmount-info-inputAndBtns-input" />
                <button class="pickSite-pickBatchAmount-info-inputAndBtns-btn pickSite-pickBatchAmount-info-inputAndBtns-btn-add">+</button>
            </div>

            <div class="pickSite-pickBatchAmount-info-start-btn-container">
                <a class="pickSite-pickBatchAmount-info-start-btn">Start Picking</a>
            </div>

        </div>

    </div>
</div>