
@{
    ViewData["Title"] = "Multi Pick";
}

<div class="pickSite-overall-container">
    <div class="pickSite-pickBatchAmount-overall-container">
        <div class="pickSite-header-headline-container">
            <p class="trim pickSite-header-headline">Multi item batch picking</p>
        </div>

        <div class="pickSite-pickBatchAmount-info-overall-container">
            <div class="pickSite-pickBatchAmount-info-logo-container">
                <span class="material-icons pickSite-pickBatchAmount-info-logo">shopping_basket</span>
            </div>

            <div class="pickSite-pickBatchAmount-info-headlines-container">
                <p class="trim pickSite-pickBatchAmount-info-headline">MULTI ITEM BATCH PICKING</p>
                <p class="trim pickSite-pickBatchAmount-info-underHeadline">How many totes<br />are you using?</p>
            </div>

            <div class="pickSite-pickBatchAmount-info-inputAndBtns-container">
                <span class="material-icons pickSite-pickBatchAmount-info-inputAndBtns-btn-remove">remove</span>
                <input type="number" class="pickSite-pickBatchAmount-info-inputAndBtns-input" placeholder="1" value="1" />
                <span class="material-icons pickSite-pickBatchAmount-info-inputAndBtns-btn-add">add</span>
            </div>

            <div class="pickSite-pickBatchAmount-info-start-btn-container">
                <a class="pickSite-pickBatchAmount-info-start-btn">Start Picking</a>
            </div>

        </div>

    </div>
</div>

@section Scripts {
<script>
    // Variables
        //-Pick Batch Amount Variables
    const pickBatchAmountInput = $(".pickSite-pickBatchAmount-info-inputAndBtns-input");
    const pickBatchAmountBtnRemove = $(".pickSite-pickBatchAmount-info-inputAndBtns-btn-remove");
    const pickBatchAmountBtnAdd = $(".pickSite-pickBatchAmount-info-inputAndBtns-btn-add");
    const pickBatchAmountBtnStart = $(".pickSite-pickBatchAmount-info-start-btn");

    // Pick Batch Amount Funtions
        //-Click Add Btn
    pickBatchAmountBtnAdd.click(function() {
        AddOrRemove(true);
    });

        //-Click Remove Btn
    pickBatchAmountBtnRemove.click(function() {
        AddOrRemove(false);
    });

        //-Add Or Remove Function (true is add, false is remove)
    function AddOrRemove(prop) {
        let parsedInput = parseInt(pickBatchAmountInput.val());

        if (CheckForNumber(parsedInput)) {
            if (prop == true) {
                pickBatchAmountInput.val(parsedInput + 1);
            }

            if (prop == false) {
                if (parsedInput > 1) {
                    pickBatchAmountInput.val(parsedInput - 1);
                }
            }
        }
        else {
            pickBatchAmountInput.val("1");
        }
    }

        //-On Input 
    $(document).on("input", ".pickSite-pickBatchAmount-info-inputAndBtns-input", function (event) {
        if ($(this).val() < 1) {
            $(this).val("1");
        }

        if ($(this).val() != 0 && $(this).val().startsWith("0")) {
            $(this).val("1");
        }
    });

        //-Click Start Picking
    pickBatchAmountBtnStart.click(function() {
        console.log("Start Picking");
    });


    // Functions
        //-Check For Number
    function CheckForNumber(numberToCheck) {
        if (isNaN(numberToCheck)) {
            return false;
        }
        else {
            return true;
        }
    }
</script>
}